body{
     background-color: rgba(50, 165, 15, 0.849);
     color: rgba(31, 143, 8, 0.712);
}
header{
    background-color: rgba(53, 156, 13, 0.233);
    color:#23be0ec4;

}
 h1 {
    background-color: chartreuse;
 }
h1 {
    font-size: 36px;
}
h2 {
    color: #078d07;
}
p {
    font-size: 20px;
    line-height: 1.6;
}