body {
    background-color: #2d7c10;
    color: #22880d4d;
    font-family: AriaL, sans-serif;
}

header {
    background-color: #378f1467;
    color: #23be0ec4;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #08a008a4;
}

p {
    font-size: 20px;
    line-height: 1.6;
}
main {
    width: 80%;
    margin: auto;
}
section {
    background-color: #34a7067e;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12;
}
img {
    width: 100%;
    max-width: 600px;
    display: block; 
    margin: auto;
    border-radius: 12px;
}
figcaption {
    text-align: center;
    font-size: 14px;
    color:#3cc02b8a;
    margin-top: 8px;
}